.team {
  background-color: #fff;
  position: relative;

  z-index: 1;

  width: 100%;
  height: 40px;
  &.active {
    z-index: 10;

    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      border: #333 solid 2px;
      top: 0;
      left: 0;
    }
  }
}

.item {
  position: relative;
  width: 100%;

  display: flex;

  height: 40px;
  align-items: center;

  .col {
    width: 20%;
    line-height: 40px;
    text-align: center;

    &.green {
      background-color: #73d13d;
    }
    &.red {
      background-color: #ff4d4f;
    }
  }
}
